<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--Spring beans configuration  -->
	<!-- dependent class cfg as spring bean -->
	<bean id="dt" class="com.nit.beans.DependentClass">
	<property name="name" value="Shree"/>
	</bean>
	
	<!-- Target class cfg as spring bean  -->
	<bean id="wmg" class="com.nit.beans.WishMessageGenerator">
		<property name="name1" value="M S"/><!-- returning name="date", is after the set (setDate)in target class -->
		<property name="dc" ref="dt"> </property>
	</bean>
	
</beans>